/* // Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-color-info: $purple !default;
$button-bg-color-info-dark: $maroon !default;
$button-bg-color-primary: $purple !default;
$button-bg-color-primary-dark: $maroon !default;
$button-color-primary-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-color-success-dark: $maroon !default;
$button-color-success-dark: $black !default;
$button-bg-hover-color: $black !default;
$button-bg-hover-color-dark: $black !default; */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

button {
  background: none;
  color: inherit;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  width: 100%;
}

/* // Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-color-info: $purple !default;
$button-bg-color-info-dark: $maroon !default;
$button-bg-color-primary: $purple !default;
$button-bg-color-primary-dark: $maroon !default;
$button-color-primary-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-color-success-dark: $maroon !default;
$button-color-success-dark: $black !default;
$button-bg-hover-color: $black !default;
$button-bg-hover-color-dark: $black !default; */
* {
  font-family: "Roboto", sans-serif;
  /* -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important; */
}

body {
  color: #000000;
}
body * {
  font-size: 1.6rem;
}

img {
  display: block;
}

.font-size-2rem {
  font-size: 2rem;
}

.h1 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

.h2 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

.h3 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

.h4 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

.h5 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

.h6 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h1 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h2 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h3 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h4 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h5 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h6 {
  line-height: 1.3;
  color: #000000;
  font-family: "Alegreya", serif;
  font-weight: 700;
  text-transform: initial;
}

h1,
h1.header-title {
  font-size: 3rem;
}

h2,
h2.header-title {
  font-size: 2.4rem;
}

p {
  line-height: 1.3;
  color: #000000;
}

span {
  font-family: inherit;
  font-size: inherit;
}

a {
  line-height: 1.3;
  color: inherit;
  text-decoration: underline;
}
a:hover {
  transition: all 200ms ease-in-out;
  color: #000000;
}

.highlight-color {
  color: #9e3a5f;
  font-weight: 600;
}
.mf__section--maroon .highlight-color, .mf__section--purple .highlight-color {
  color: #F7F2EF;
  font-weight: 600;
}

.mb-05x {
  margin-bottom: 7.5px !important;
}

.mb-1x {
  margin-bottom: 15px !important;
}

.mb-2x {
  margin-bottom: 30px !important;
}

.background-position-y-center {
  background-position-y: center !important;
}

.btn, .swal2-popup .swal2-styled.swal2-confirm {
  background-color: #000000 !important;
  border-radius: 50px;
  color: #ffffff !important;
  font-size: 1.6rem;
  line-height: 1;
  padding: 15px;
  text-decoration: none;
  /* // .ra__settings {
      &-outline-success {
          border-color: $purple;
          color: $purple;
          width: auto !important;

          .ra__dark & {
              border-color: $maroon;
              color: $maroon;
          }

          &:hover {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $maroon;
                  border-color: $maroon;
                  color: $black;
              }
          }

          &.focus,
          &:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }

          &.disabled,
          &:disabled {
              background-color: transparent;
              color: $purple;

              .ra__dark & {
                  color: $maroon;
              }
          }

          &:not(:disabled):not(.disabled).active,
          &:not(:disabled):not(.disabled):active,
          .show & > .dropdown-toggle,
          .show > &.dropdown-toggle {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $maroon;
                  border-color: $maroon;
                  color: $black;
              }
          }

          &:not(:disabled):not(.disabled).active:focus,
          &:not(:disabled):not(.disabled):active:focus,
          .show & > .dropdown-toggle:focus,
          .show > &.dropdown-toggle:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }
      }
  // } */
}
.btn-success, .swal2-popup .swal2-styled.swal2-confirm, .btn-primary, .btn-danger, .btn-info {
  border: none;
  box-shadow: none;
  color: #ffffff !important;
  width: auto !important;
}
.btn-success:hover, .swal2-popup .swal2-styled.swal2-confirm:hover, .btn-primary:hover, .btn-danger:hover, .btn-info:hover {
  background-color: #c60202 !important;
  color: #ffffff;
}
.ra__dark .btn-success, .ra__dark .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark .swal2-styled.swal2-confirm, .ra__dark .btn-primary, .ra__dark .btn-danger, .ra__dark .btn-info {
  background-color: #36487b;
  color: #ffffff;
}
.ra__dark .btn-success:hover, .ra__dark .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup .ra__dark .swal2-styled.swal2-confirm:hover, .ra__dark .btn-primary:hover, .ra__dark .btn-danger:hover, .ra__dark .btn-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn:hover, .swal2-popup .swal2-styled.swal2-confirm:hover {
  background-color: #c60202 !important;
}
.btn-success, .swal2-popup .swal2-styled.swal2-confirm {
  background-color: #36487b;
}
.btn-success:hover, .swal2-popup .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
.ra__dark .btn-success, .ra__dark .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark .swal2-styled.swal2-confirm {
  background-color: #9e3a5f;
  color: #000000;
}
.ra__dark .btn-success:hover, .ra__dark .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup .ra__dark .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
.btn-primary {
  background-color: #36487b;
}
.btn-primary:hover {
  background-color: #000000;
}
.ra__dark .btn-primary {
  background-color: #9e3a5f;
  color: #000000;
}
.ra__dark .btn-primary:hover {
  background-color: #000000;
}
.btn-danger {
  background-color: #c60202;
}
.btn-danger:hover {
  background-color: #000000;
}
.ra__dark .btn-danger {
  background-color: #c60202;
}
.ra__dark .btn-danger:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn-info {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.btn-info:hover {
  background-color: #000000;
  color: #ffffff !important;
}
.ra__dark .btn-info {
  background-color: #9e3a5f;
}
.ra__dark .btn-info:hover {
  background-color: #000000;
}

.swal2-popup {
  background-color: #F7F2EF;
  border-radius: 0.25rem;
  max-width: 400px;
  width: 40%;
}
.ra__dark .swal2-popup {
  background-color: #ffffff;
}
.swal2-popup .swal2-icon.swal2-warning, .swal2-popup .swal2-icon.swal2-error {
  border-color: #c60202;
  color: #c60202;
}
.swal2-popup .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #c60202;
}
.swal2-popup .swal2-title,
.swal2-popup .swal2-content {
  color: #ffffff;
}
.ra__dark .swal2-popup .swal2-title,
.ra__dark .swal2-popup .swal2-content {
  color: #000000;
}
.swal2-popup .swal2-styled {
  transition: all 200ms ease-in-out;
}
.ra__dark input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.ra__dark input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.ra__dark input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input:focus {
  color: #ffffff !important;
}

.input-group-text {
  font-size: inherit !important;
}
.ra__dark .input-group-text {
  background-color: #F7F2EF;
  color: #ffffff;
}

.form {
  /* &-row {
      margin-bottom: $margin*2;

      &:last-of-type {
          margin-bottom: 0;
      }
  } */
}
.mf__section--purple .form {
  color: #ffffff;
}
.form .text-color-danger {
  color: #f1556c !important;
}
.form-group {
  /*     display: flex;
      flex-wrap: wrap;
      align-items: center; */
  margin-bottom: 45px;
  /* &:last-of-type {
      margin-bottom: 0;
  } */
  /* :first-child:not( .btn ) {
      flex-basis: 100%;
  } */
}
.form-control {
  border-radius: 8px;
  font-size: inherit !important;
  height: auto;
  line-height: 1 !important;
  padding: 7.5px;
}
p + .form-control {
  margin-top: 15px;
}
.mf__section--purple .form-control {
  background-color: #F7F2EF;
  color: #000000;
}
.form-check {
  padding-left: 0;
}
.form-check-inline {
  margin-right: 15px;
}
.form-check-input {
  position: absolute !important;
  visibility: hidden;
}
.form-check-label {
  font-family: "Alegreya", serif;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 7.5px;
  /* &:after {
      border-bottom: 1px solid $cream;
      content: '';
      display: block;
      margin: 0 auto $margin/2;
      padding-top: $padding/2;
      width: 15%;
  } */
}
.form-check input[type=radio] + label,
.form-check input[type=checkbox] + label,
.form-check input[type=file] + label {
  background-color: #F7F2EF;
  border-radius: 8px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: initial;
  font-weight: 100;
  margin-bottom: 15px;
  padding: 7.5px 15px;
  /* &:after {
      display: none;
  } */
}
.form-check input[type=radio] + label:hover,
.form-check input[type=checkbox] + label:hover,
.form-check input[type=file] + label:hover {
  transition: all 200ms ease-in-out;
  background-color: #9e3a5f;
  color: #F7F2EF;
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 639px) {
  .form-check input[type=radio] + label,
.form-check input[type=checkbox] + label,
.form-check input[type=file] + label {
    text-align: center;
    width: 100%;
  }
}
.form-check input[type=radio]:checked + label,
.form-check input[type=checkbox]:checked + label,
.form-check input[type=file]:checked + label {
  background-color: #9e3a5f;
  color: #F7F2EF;
}
.form-check input[type=file] {
  display: none;
}
@media (max-width: 639px) {
  .form-check {
    flex-basis: 100%;
    margin-right: 0;
  }
}
.form p {
  margin-bottom: 15px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #f1556c !important;
}

.invalid-feedback {
  color: #f1556c !important;
  font-size: 1.6rem;
}

.card {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 30px;
}

html #header .header-nav-links {
  justify-content: center;
}
html #header .header-nav-links .header-nav-main {
  width: 100%;
}
html #header .header-nav-links nav {
  width: 100%;
}
html #header .header-nav-links nav > ul {
  width: 100%;
}
@media (min-width: 992px) {
  html #header .header-nav-links nav > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 0;
  }
  html #header .header-nav-links nav > ul > li:first-child {
    justify-content: flex-start;
  }
  html #header .header-nav-links nav > ul > li:first-child a:not(.btn) {
    padding-left: 0 !important;
  }
  html #header .header-nav-links nav > ul > li:last-child {
    justify-content: flex-end;
  }
  html #header .header-nav-links nav > ul > li:last-child a:not(.btn) {
    padding-right: 0 !important;
  }
}
html #header .header-nav-links nav > ul > li a {
  font-family: "Alegreya", serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: initial;
  text-decoration: none;
  width: auto;
}
html #header .header-nav-links nav > ul > li a:not(.btn) {
  padding-right: 7.5px !important;
  padding-left: 7.5px !important;
}
html #header .header-nav-links nav > ul > li a i {
  margin-right: 7.5px !important;
}
html #header .header-nav-links nav > ul > li .dropdown-item {
  color: #ffffff;
}
html #header .header-nav-links nav > ul > li .dropdown-item:hover {
  background: none;
  color: #f1556c;
}
html #header .header-nav-links nav > ul > li .dropdown-menu {
  top: 70px !important;
}
html #header .header-nav-links nav > ul li:hover > a {
  color: #f1556c !important;
}
html #header .header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #f1556c !important;
}
html #header .header-btn-collapse-nav {
  background: #36487b;
}

@media (max-width: 991px) {
  #header .header-nav-main nav > ul li.dropdown .dropdown-menu,
ul.navbar-nav > li.dropdown .dropdown-menu {
    display: block;
    padding-left: 30px;
  }
  #header .header-nav-main nav > ul li.dropdown-log-in-out,
ul.navbar-nav > li.dropdown-log-in-out {
    display: none;
  }
}
html body:not(.mf__home) .main {
  padding-top: 70px;
}
html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
  background: rgba(0, 0, 0, 0.8) !important;
}
html #header.header-transparent {
  height: auto !important;
}
html #header .header-body {
  background: rgba(0, 0, 0, 0.8) !important;
}
html #header .header-row-log-in-out {
  flex-basis: 100%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
html #header .header-column-nav {
  flex-grow: 1;
  flex-shrink: 1;
}
@media (max-width: 991px) {
  html #header .header-column-nav {
    flex-grow: 0;
  }
}
@media (max-width: 991px) {
  html #header .header-column-logo {
    justify-content: center;
    order: 2;
  }
  html #header .header-column-nav {
    justify-content: flex-start;
    order: 1;
  }
  html #header .header-column-nav .header-row {
    justify-content: flex-start !important;
  }
  html #header .header-column-nav .header-btn-collapse-nav {
    margin-left: 0 !important;
  }
  html #header .header-column-log-in-out {
    flex-grow: 0 !important;
    order: 3;
  }
  html #header .header-column-log-in-out-text {
    display: none;
  }
}
@media (min-width: 992px) {
  html #header .header-column-log-in-out {
    display: none;
  }
}

html.sticky-header-active .header-logo {
  display: block;
  /* min-width: 360px;
  min-height: 73px; */
}
html.sticky-header-active .header-logo a.header-logo-inner {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  html.sticky-header-active .header-logo a.header-logo-inner {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 992px) {
  html.sticky-header-active .header-logo a.header-logo-inner {
    min-width: 300px;
    min-height: 60px;
    /* position: absolute;
    top: 30px; */
  }
}
html.sticky-header-active .header-logo img {
  top: initial !important;
  width: 100%;
}

@-webkit-keyframes logoAnimatedConFadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    margin-top: -200px;
    opacity: 0;
  }
}

@keyframes logoAnimatedConFadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    margin-top: -200px;
    opacity: 0;
  }
}
@-webkit-keyframes logoAnimatedFadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoAnimatedFadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.logo-animated {
  -webkit-animation: logoAnimatedFadeInOut 1 ease-out forwards;
          animation: logoAnimatedFadeInOut 1 ease-out forwards;
  opacity: 0;
  position: absolute;
}
.logo-animated-con {
  -webkit-animation: logoAnimatedConFadeInOut 1 ease-out forwards;
          animation: logoAnimatedConFadeInOut 1 ease-out forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 83px;
  position: relative;
  width: calc( ( ( 84px * .85 ) + 6px ) + ( 310px * .85 ) );
}
.logo-animated-bird {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  left: 0;
  width: calc( 84px * .85 ) !important;
}
.logo-animated-mf {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  left: calc( ( 84px * .85 ) + 6px );
  top: 4px;
  width: calc( 310px * .85 ) !important;
}
.logo-animated-managing {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: calc( 38px + 4px + 6px );
  left: calc( ( 84px * .85 ) + 6px );
  width: calc( 304px * .85 ) !important;
}

.mf__banner {
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.mf__banner__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  text-align: center;
}
.mf__banner h1 {
  color: #ffffff;
  font-size: 5rem;
}
.mf__banner__sub_heading {
  display: block;
  font-size: 3rem;
}
.mf__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mf__section--maroon {
  background-color: #9e3a5f;
}
.mf__section--purple {
  background-color: #36487b;
}
.mf__separator {
  background-color: #F7F2EF;
  margin-bottom: 7.5px;
  height: 1px;
}
.mf__separator--small {
  width: 10%;
}
h1 ~ .mf__separator {
  width: 60%;
}
h2 ~ .mf__separator {
  width: 30%;
}
h3 ~ .mf__separator {
  width: 15%;
}
h4 ~ .mf__separator {
  width: 7.5%;
}
.mf__content h1 {
  color: #36487b;
  margin-bottom: 7.5px;
}
.mf__content p + h2 {
  margin-top: 30px;
}
.mf__content h2 {
  color: #36487b;
  font-size: 3.4rem;
  margin-bottom: 7.5px;
}
.mf__section--maroon .mf__content h2, .mf__section--purple .mf__content h2 {
  color: #F7F2EF;
}
.mf__content p + h3 {
  margin-top: 30px;
}
.mf__content h3 {
  color: #36487b;
  font-size: 2.8rem;
  margin-bottom: 7.5px;
}
.mf__section--maroon .mf__content h3, .mf__section--purple .mf__content h3 {
  color: #F7F2EF;
}
.mf__content p + h4 {
  margin-top: 30px;
}
.mf__content h4 {
  color: #36487b;
  font-size: 2.2rem;
  margin-bottom: 3.75px;
}
.mf__section--maroon .mf__content h4, .mf__section--purple .mf__content h4 {
  color: #F7F2EF;
}
.mf__content p {
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
}
.mf__content p:last-of-type {
  margin-bottom: 0;
}
.mf__section--maroon .mf__content p, .mf__section--purple .mf__content p {
  color: #F7F2EF;
}
.mf__content ul {
  list-style: revert;
  padding-left: 45px;
}
.mf__section--maroon .mf__content ul, .mf__section--purple .mf__content ul {
  color: #F7F2EF;
}
.mf__content ul + p {
  margin-top: 15px;
}
.mf__content .mf__separator {
  background-color: #9e3a5f;
}
.mf__section--maroon .mf__content .mf__separator, .mf__section--purple .mf__content .mf__separator {
  background-color: #F7F2EF;
}
.mf__footer#footer {
  background: url("../../assets/images/bg2s.jpg") no-repeat center center;
  background-size: cover;
  border: none;
  display: flex;
  align-items: center;
  min-height: 350px;
}
.mf__footer__col {
  display: flex;
  flex: 1;
  padding: 15px;
}
@media (max-width: 899px) {
  .mf__footer__col {
    flex-basis: 50%;
  }
}
@media (max-width: 599px) {
  .mf__footer__col {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
}
.mf__footer__col__inner__li {
  margin-bottom: 15px;
}
.mf__footer__col__inner__li:first-of-type {
  margin-bottom: 7.5px;
}
.mf__footer__col__inner__li:last-child {
  margin-bottom: 0;
  padding-right: 0;
}
.mf__footer__col__inner__li .mf__app-icons {
  width: 100%;
}
.mf__footer__col__inner__li .mf__app-icons-con {
  display: block;
  max-width: 160px;
}
.mf__footer__col__inner__heading {
  color: #ffffff;
  font-size: 2.2rem;
}
.mf__footer__col__inner__p {
  color: #ffffff;
}
.mf__footer__col__inner__link {
  color: #ffffff !important;
  text-decoration: none;
}
.mf__footer__col__inner__link:hover {
  color: #f1556c !important;
  text-decoration: underline !important;
}
@media (min-width: 900px) {
  .mf__footer__col--socials {
    flex: 0 auto;
  }
}
.mf__footer__col--socials .mf__footer__col__inner__link {
  display: inline-block;
  padding-right: 15px;
}
.mf__footer__col--socials .mf__footer__col__inner__link:last-of-type {
  padding-right: 0;
}
.mf__footer__col--socials i {
  font-size: 3rem;
}
.mf__slider h3 {
  color: #F7F2EF;
}
.mf__homepage-video:before {
  opacity: 0.6 !important;
}
.mf__features h1 {
  color: #F7F2EF;
  margin-bottom: 30px;
  text-align: center;
}
.mf__features h2 {
  color: #F7F2EF;
  margin-bottom: 15px;
}
.mf__features p {
  color: #F7F2EF;
  margin-bottom: 30px;
}
.mf__features p:last-child {
  margin-bottom: 0;
}
.mf__features .mf__separator {
  margin-right: auto;
  margin-left: auto;
}
.mf__features__row {
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.mf__features__row:last-child {
  margin-bottom: 0;
}
.mf__features__row__column {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-basis: calc( ( 100% / 4 ) - ( 15px*2 ) );
  margin: 15px;
}
@media (max-width: 899px) {
  .mf__features__row__column {
    flex-basis: calc( ( 100% / 2 ) - ( 15px*2 ) );
  }
}
@media (max-width: 599px) {
  .mf__features__row__column {
    flex-basis: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.mf__features__row__column--first {
  background: none;
  flex-basis: 100%;
  margin-bottom: 15px;
  text-align: center;
}
.mf__features__feature {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 15px;
  text-align: center;
}
@media (max-width: 599px) {
  .mf__features__feature {
    flex-wrap: wrap;
  }
}
.mf__features__feature > * {
  flex: 0 0 auto;
}
@media (max-width: 599px) {
  .mf__features__feature > * {
    flex-basis: 100%;
  }
}
.mf__features__feature > * {
  flex-basis: 100%;
}
.mf__features__feature__icon-con {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 15px;
  max-width: 48px;
  max-height: 48px;
  width: 48px;
  height: 48px;
}
.mf__features__feature__icon {
  display: block;
  width: 100%;
}
.mf__features__feature h4 {
  color: #F7F2EF;
  font-size: 2.3rem;
  line-height: 1.3;
}
.mf__features__feature h4 + p {
  margin-top: 15px;
}
.mf__features__feature p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.mf__features--benefits {
  background-color: #9e3a5f;
}
.mf__features--services {
  background-color: #36487b;
}
.mf__features--services div.mf__features__row {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.mf__features--services div.mf__features__row:first-of-type {
  margin-top: 15px;
}
.mf__video {
  background-color: #F7F2EF;
}
.mf__video__video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 992px) {
  .mf__video__video {
    max-width: 60%;
  }
}
.mf__register__buttons {
  background-color: #000000;
  color: #ffffff;
}
.mf__register__buttons__col {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-basis: calc( ( 100% / 2 ) - ( 15px*2 ) );
  margin: 15px;
  padding: 30px;
}
@media (max-width: 899px) {
  .mf__register__buttons__col {
    flex-basis: 100%;
    height: auto;
  }
}
.mf__register__buttons h3 {
  color: #ffffff;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 30px;
}
.mf__register__buttons__info {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}
.mf__register__buttons__p {
  color: #ffffff;
  margin-bottom: 30px;
}
.mf__register__buttons__button {
  align-self: flex-end;
  background-color: #ffffff !important;
  display: inline-block;
  font-family: "Alegreya", serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mf__registration-phase-1__notes * {
  color: #9e3a5f !important;
  font-weight: 600;
}
.mf__registration-phase-1 .card {
  height: calc( 100% - 15px*2 );
}
.mf__registration-phase-1 .card-body {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.mf__registration-phase-2 .form-row-profile-image .w-25 {
  margin-right: 15px !important;
}
.mf__registration-phase-2 .form-row-profile-image .w-25:last-child {
  margin-right: 0 !important;
}
@media (max-width: 899px) {
  .mf__registration-phase-2 .form-row-profile-image .w-25 {
    flex-basis: calc( 50% - ( 15px/2 ) );
    width: calc( 50% - ( 15px/2 ) ) !important;
  }
}