// Forms
input::placeholder {
    .ra__dark & {
        color: rgba( var(--white--rgb), .5 ) !important;
    }
}

input:focus {
    .ra__dark & {
        color: $white !important;
    }
}

.input-group-text {
    font-size: inherit !important;

    .ra__dark & {
        background-color: $cream;
        color: $white;
    }
}

.form {
    .mf__section--purple & {
        color: $white;
    }

    .text-color-danger {
        color: $form-required-color;
    }

    /* &-row {
        margin-bottom: $margin*2;

        &:last-of-type {
            margin-bottom: 0;
        }
    } */

    &-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $margin*2;

        /* &:last-of-type {
            margin-bottom: 0;
        } */

        :first-child:not( .btn ) {
            flex-basis: 100%;
        }
    }

    &-control {
        border-radius: $border-radius;
        font-size: inherit !important;
        height: auto;
        line-height: 1 !important;
        padding: $padding/2;


        .mf__section--purple & {
            background-color: $cream;
            color: $black;
        }
    }

    &-check {
        padding-left: 0;

        &-input {
            position: absolute !important;
            visibility: hidden;

            &:checked + label {
                background-color: $form-radio-checked-bg-color;
                color: $form-radio-checked-color;
            }
        }

        &-label {
            background-color: $form-radio-bg-color;
            border-radius: $border-radius;
            color: $form-radio-color;
            margin-bottom: $margin;
            padding: $padding/2 $padding;
        }
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: $form-error-border-color;
}

.invalid-feedback {
    color: $form-error-color;
    font-size: 1.6rem;
}
