// Forms
input::placeholder {
    .ra__dark & {
        color: rgba( var(--white--rgb), .5 ) !important;
    }
}

input:focus {
    .ra__dark & {
        color: $white !important;
    }
}

.input-group-text {
    font-size: inherit !important;

    .ra__dark & {
        background-color: $cream;
        color: $white;
    }
}

.form {
    .mf__section--purple & {
        color: $white;
    }

    .text-color-danger {
        color: $form-required-color;
    }

    /* &-row {
        margin-bottom: $margin*2;

        &:last-of-type {
            margin-bottom: 0;
        }
    } */

    &-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $margin*3;

        /* &:last-of-type {
            margin-bottom: 0;
        } */

        :first-child:not( .btn ) {
            flex-basis: 100%;
        }
    }

    &-control {
        border-radius: $border-radius;
        font-size: inherit !important;
        height: auto;
        line-height: 1 !important;
        padding: $padding/2;

        p + & {
            margin-top: $margin;
        }


        .mf__section--purple & {
            background-color: $cream;
            color: $black;
        }
    }

    &-check {
        padding-left: 0;

        &-inline {
            margin-right: $margin;
        }

        &-input {
            position: absolute !important;
            visibility: hidden;
        }

        &-label {
            font-family: $form-label-font-family;
            font-size: $form-label-font-size;
            font-weight: bold;
            margin-bottom: $margin/2;

            /* &:after {
                border-bottom: 1px solid $cream;
                content: '';
                display: block;
                margin: 0 auto $margin/2;
                padding-top: $padding/2;
                width: 15%;
            } */
        }

        input[ type='radio' ],
        input[ type='checkbox' ],
        input[ type='file' ] {
            & + label {
                background-color: $form-radio-bg-color;
                border-radius: $border-radius;
                color: $form-radio-color;
                font-family: $font-family-text;
                font-size: initial;
                font-weight: 100;
                margin-bottom: $margin;
                padding: $padding/2 $padding;

                /* &:after {
                    display: none;
                } */

                &:hover {
                    @include transition;

                    background-color: $form-radio-bg-hover-color;
                    color: $form-radio-hover-color;
                    cursor: pointer;
                    opacity: .8;
                }

                @include for-640-down {
                    text-align: center;
                    width: 100%;
                }
            }

            &:checked + label {
                background-color: $form-radio-checked-bg-color;
                color: $form-radio-checked-color;
            }
        }

        input[ type='file' ] {
            display: none;
        }

        @include for-640-down {
            flex-basis: 100%;
            margin-right: 0;
        }
    }

    p {
        margin-bottom: $margin !important;
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: $form-error-border-color;
}

.invalid-feedback {
    color: $form-error-color;
    font-size: 1.6rem;
}
