// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

* {
    font-family: $font-family-roboto;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important;
}

#{$body} {
    * {
        font-size: $font-size;
    }
}

img {
    display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height(
        $line-height: 1.3
    );

    color: var(--black);
    font-family: $font-family-jomolhari;
    font-weight: 700;
    text-transform: initial;
}

h1,
h1.header-title {
    font-size: $h1-font-size;
}

h2,
h2.header-title {
    font-size: $h2-font-size;
}

p {
    @include line-height;

    color: $black;
}

a {
    @include line-height;

    color: inherit;

    &:hover {
        @include transition;
    }
}
