// Intialization
@import '_reset';
@import '_fonts';
@import '_variables';
@import '_mixins';

* {
    font-family: $font-family-roboto;
    /* -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility !important; */
}

#{$body} {
    color: $black;

    * {
        font-size: $font-size;
    }
}

img {
    display: block;
}

.font-size-2rem {
    font-size: 2rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height(
        $line-height: 1.3
    );

    color: var(--black);
    font-family: $font-family-headings;
    font-weight: 700;
    text-transform: initial;
}

h1,
h1.header-title {
    font-size: $h1-font-size;
}

h2,
h2.header-title {
    font-size: $h2-font-size;
}

p {
    @include line-height;

    color: $black;
}

span {
    font-family: inherit;
    font-size: inherit;
}

a {
    @include line-height;

    color: $link-color;
    text-decoration: underline;

    &:hover {
        @include transition;

        color: $link-hover-color;
    }
}

.highlight-color {
    color: $highlight-color;
    font-weight: 600;

    .mf__section--maroon & ,
    .mf__section--purple & {
        color: $cream;
        font-weight: 600;
    }
}

.mb-05x {
    margin-bottom: $margin/2 !important;
}

.mb-1x {
    margin-bottom: $margin !important;
}

.mb-2x {
    margin-bottom: $margin*2 !important;
}
