// Colours
$black: #000000 !default;
$purple: #4d5877 !default;
$maroon: #793B52 !default;
$red: #c60202 !default;
$red-light: #f1556c !default;
$cream: #F7F2EF !default;
$white: #ffffff !default;

// IE Fallback
$vars: (
    red-medium: #e31837,
    white-very-light: #ffffff
);

// Spacing
$section-width: 960px;
$margin: 1rem !default;
$padding: 1rem !default;

// Class names
$es: '__' !default; // Element separator
$ms: '--' !default; // Modifier separator
$html:  'html' !default;
$body: 'body' !default;
$header: 'header' !default;
$nav: 'nav' !default;
$section: 'section' !default;
$mf: 'mf' !default;
$footer: 'footer' !default;

// CSS variables
// Convert Hex values to RGBA if needed
@function hex-to-rgb( $hex ) {
    @return red( $hex ), green( $hex ), blue( $hex );
}
@mixin var($property, $varName) {
    #{$property}: map-get($vars, $varName);
    #{$property}: var(--#{$varName}, map-get($vars, $varName));
}

:root {
    --black: #{ $black };
    --black--rgb: #{ hex-to-rgb( $black ) };
    --purple: #{ $purple };
    --purple--rgb: #{ hex-to-rgb( $purple ) };
	--maroon: #{ $maroon };
	--red: #{ $red };
	--cream: #{ $cream };
    --white--rgb: #{ hex-to-rgb( $white ) };
    --white: #{ $white };
    --margin: #{ $margin };
    --padding: #{ $padding };
}

//General
$bg-color: transparent !default;
$color: transparent !default;

// Typography
// $font-family: Arial, Helvetica, Verdana, sans-serif !default;
$font-family-jomolhari: Jomolhari !default;
$font-family-roboto: 'Roboto', sans-serif !default;
$font-size: 1.6rem !default;
$body-font-size: 1.6rem !default;
$h2-font-size: 2rem !default;
$h4-font-size: 1.8rem !default;

/* // Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-color-info: $purple !default;
$button-bg-color-info-dark: $maroon !default;
$button-bg-color-primary: $purple !default;
$button-bg-color-primary-dark: $maroon !default;
$button-color-primary-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-color-success-dark: $maroon !default;
$button-color-success-dark: $black !default;
$button-bg-hover-color: $black !default;
$button-bg-hover-color-dark: $black !default; */

// Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color: $purple !default;
$button-bg-hover-color: $black !default;
$button-bg-color-dark: $purple !default;
$button-bg-hover-color-dark: $black !default;
// Danger
$button-color-danger: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-hover-color-danger: $button-bg-hover-color !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-hover-color-danger-dark: $button-bg-hover-color-dark !default;
$button-hover-color-danger-dark: $white !default;
// Info
$button-color-info: $white !default;
$button-hover-color-info: $white !default;
$button-bg-color-info: $purple !default;
$button-bg-hover-color-info: $button-bg-hover-color !default;
$button-bg-color-info-dark: $maroon !default;
$button-bg-hover-color-info-dark: $button-bg-hover-color-dark !default;
// Primary
$button-color-primary-dark: $black !default;
$button-bg-color-primary: $purple !default;
$button-bg-hover-color-primary: $button-bg-hover-color !default;
$button-bg-color-primary-dark: $maroon !default;
$button-bg-hover-color-primary-dark: $button-bg-hover-color-dark !default;
// Success
$button-color-success-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-hover-color-success: $button-bg-hover-color !default;
$button-bg-color-success-dark: $maroon !default;
$button-bg-hover-color-success-dark: $button-bg-hover-color-dark !default;





// Navigation
$nav-link-color: inherit !default;
$nav-link-hover-color: inherit !default;
$nav-link-active-color: $nav-link-hover-color !default;
$nav-sticky-link-color: $black inherit !default;
$nav-sticky-link-hover-color: inherit !default;

// Forms
$form-error-color: $red-light !default;
$form-error-border-color: $form-error-color !default;

// Slider
$slider-button-bg-color: $black !default;

// Footer
$footer-bg-color: $black !default;
