// Intialization
@import '../views/website/assets/sass/_init';
@import '_init';
@import '_forms';
@import '_buttons';
@import '_alerts';
@import '_nav';

.row {
    margin-right: 0;
    margin-left: 0;
}

html {
    &:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
        background: rgba( $black, 0.8 ) !important;
    }

    #header {
        .header {
            &-body {
                background: rgba( $black, 0.8 ) !important;
            }

            &-container.container {
                max-width: 1140px !important;
            }

            &-row-log-in-out {
                flex-basis: 100%;
                padding-top: $padding/2;
                padding-bottom: $padding/2;
            }

            &-column-nav {
                flex-grow: 1;
                flex-shrink: 1;

                @include for-992-down {
                    flex-grow: 0;
                }
            }

            &-nav {
                &-links {
                    justify-content: center;

                    .header-nav-main {
                        width: 100%;
                    }

                    nav {
                        width: 100%;

                        > ul {
                            width: 100%;

                            > li {
                                @include for-992-up {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex: 1;
                                    margin-left: 0;

                                    &:first-child {
                                        justify-content: flex-start;
                                    }

                                    &:last-child {
                                        justify-content: flex-end;
                                    }
                                }

                                a {
                                    font-family: $font-family-jomolhari;
                                    font-size: 1.7rem;
                                    font-weight: 700;
                                    text-transform: initial;
                                    width: auto;

                                    &:not(.btn) {
                                        padding-right: $padding/2 !important;
                                        padding-left: $padding/2 !important;
                                    }

                                    i {
                                        margin-right: $margin/2 !important;
                                    }
                                }

                                .dropdown-menu {
                                    top: 70px !important;
                                }
                            }

                            li:hover > a {
                                color: $nav-link-hover-color !important;
                            }

                            &:not( :hover ) > li > a.active {
                                color: $nav-link-active-color !important;
                            }
                        }
                    }
                }
            }

            &-btn-collapse-nav {
                background: $purple;
            }

            &-column {
                @include for-992-down {
                    &-logo {
                        justify-content: center;
                        order: 2;
                    }

                    &-nav {
                        justify-content: flex-start;
                        order: 1;

                        .header-row {
                            justify-content: flex-start !important;
                        }

                        .header-btn-collapse-nav {
                            margin-left: 0 !important;
                        }
                    }

                    &-log-in-out {
                        flex-grow: 0 !important;
                        order: 3;

                        &-text {
                            display: none;
                        }
                    }
                }

                @include for-992-up {
                    &-log-in-out {
                        display: none;
                    }
                }
            }
        }
    }
}

html.sticky-header-active .header-logo {
    display: block;
    /* min-width: 360px;
    min-height: 73px; */

    a.header-logo-inner {
        display: block;
        padding-right: $padding;
        padding-left: $padding;

        @include for-992-down {
            padding-right: $padding*4;
            padding-left: $padding*4;
        }

        @include for-992-up {
            min-width: 300px;
            min-height: 60px;
            /* position: absolute;
            top: 30px; */
        }
    }

    img {
        top: initial !important;
        // width: 300px;
        width: 100%;
    }
}

@keyframes logoAnimatedConFadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        margin-top: -200px;
        opacity: 0;
    }
}

@keyframes logoAnimatedFadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.logo-animated {
    animation: logoAnimatedFadeInOut 1 ease-out forwards;
    opacity: 0;
    position: absolute;

    &-con {
        animation: logoAnimatedConFadeInOut 1 ease-out forwards;
        animation-delay: 6s;
        animation-duration: 1s;
        height: 83px;
        position: relative;
        width: calc( ( ( 84px * .85 ) + 6px ) + ( 310px * .85 ) );
    }

    &-bird {
        animation-delay: 1s;
        animation-duration: 6s;
        left: 0;
        width: calc( 84px * .85 ) !important;
    }

    &-mf {
        animation-delay: 3s;
        animation-duration: 4s;
        left: calc( ( 84px * .85 ) + 6px );
        top: 4px;
        width: calc( 310px * .85 ) !important;
    }

    &-managing {
        animation-delay: 4s;
        animation-duration: 2s;
        top: calc( 38px + 4px + 6px );
        left: calc( ( 84px * .85 ) + 6px );
        width: calc( 304px * .85 ) !important;
    }
}

.#{$mf} {
// Slider
    &#{$es}slider h3 {
        color: $white;
    }

    &#{$es}section {
        padding-top: $padding*4;
        padding-bottom: $padding*4;
    }

    &#{$es}heading-3 {
        font-size: 3rem;
    }

    &#{$es}separator {
        background-color: var(--maroon);
        display: inline-block;
        margin: 0 auto $margin;
        width: 15%;
        height: 4px;

        &#{$ms}small {
            width: 5%;
        }
    }

    &#{$es}homepage-video {
        &:before {
            opacity: .6 !important;
        }
    }

    &#{$es}features {
        &#{$es}h1 {
            font-size: 3rem;
            margin-bottom: $margin*2;
            text-align: center;
        }

        &#{$es}p {
            margin-bottom: $margin*2;
        }

        &#{$es}row {
            @include display-flex(
                $align-items: flex-start,
                $justify-content: flex-start
            );

            margin-bottom: $margin*4;

            &:last-child {
                margin-bottom: 0;
            }

            &#{$es}column {
                align-self: stretch;
                flex-basis: 25%;

                @include for-tablet-landscape-down{
                    flex-basis: 50%;
                }

                @include for-phone-only{
                    flex-basis: 100%;
                }
            }

            &#{$es}column--first {
                flex-basis: 100%;
                margin-bottom: $margin;
                text-align: center;
            }
        }

        &#{$es}h2 {
            font-size: 2.4rem;
            margin-bottom: $margin;
        }

        &#{$ms}benefits {
            background-color: var(--cream);
            margin-bottom: $margin*2;
        }

        &#{$ms}services {}

        &#{$es}feature {
            @include display-flex(
                $align-items: flex-start,
                $justify-content: center
            );

            height: 100%;
            padding: $padding;
            text-align: center;

            @include for-phone-only {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }

            > * {
                flex-basis: 100%;
            }

            &#{$es}icon-con {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: $margin*2;
                max-width: 48px;
                max-height: 48px;
                width: 48px;
                height: 48px;
            }

            &#{$es}icon {
                display: block;
                width: 100%;
            }

            &#{$es}info {
                height: 100%;
            }

            &#{$es}heading {
                @include line-height(
                    $line-height: 1.6
                );

                color: $black;
                font-size: 2.0rem;
            }

            &#{$es}heading + &#{$es}copy {
                margin-top: $margin*2;
            }

            &#{$es}copy {
                font-family: $font-family-roboto;
                font-size: 1.6rem;
            }
        }
    }

    &#{$es}video {
        background-color: var(--cream);

        &#{$es}video {
            display: block;
            margin: 0 auto;
            max-width: 100%;

            @include for-992-up {
                max-width: 60%;
            }
        }
    }

    &#{$es}register__buttons {
        background-color: var(--black);
        color: var(--white);

        &#{$es}inner {
            @include display-flex(
                $align-items: flex-start,
                $justify-content: flex-start
            );
        }

        &#{$es}col {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            height: 100%;
            padding-right: $padding*2;

            &:last-child {
                padding-right: 0;
                padding-bottom: 0;
            }

            @include for-tablet-landscape-down {
                flex-basis: 100%;
                height: auto;
                padding-right: 0;
                padding-bottom: $padding*4;
            }
        }

        .mf__heading-3 {
            @include line-height;

            color: var(--white);
            margin-bottom: $margin*2;
        }

        &#{$es}info {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
        }

        &#{$es}p {
            color: var(--white);
            margin-bottom: $margin*2;
        }

        &#{$es}button {
            align-self: flex-end;
            background-color: $white !important;
            display: inline-block;
            font-family: $font-family-jomolhari;
            $font-size: 1.8rem;
            font-weight: 700;
        }
    }

    &#{$es}footer {
        &#footer {
            background: url( '/website/assets/images/bg2s.jpg' ) no-repeat center center;
            background-size: cover;
            border: none;
            padding: $padding*6 0 !important;
        }

        // > .row {
            // display: flex;
            // align-items: center;
            // justify-content: center;
        // }

        &#{$es}inner {
            @include display-flex(
                $align-items: flex-start
            );
        }

        &#{$es}col {
            display: flex;
            // flex-basis: 25%;
            padding: $padding*4;
            padding-right: $padding*2;
            padding-left: 0;

            @include for-tablet-landscape-down{
                flex-basis: 50%;
            }

            @include for-phone-only{
                flex-basis: 100%;
                justify-content: center;
                padding-right: 0;
                text-align: center;
            }

            /* &:first-child {
                justify-content: flex-start;
            } */

            &:last-child {
                // justify-content: flex-end;
                padding-right: 0;
            }

            &#{$es}inner {
                &#{$es}li {
                    margin-bottom: $margin*2;

                    &:last-child {
                        margin-bottom: 0;
                        padding-right: 0;
                    }

                    .mf__app-icons {
                        width: 100%;

                        &-con {
                            display: block;
                            max-width: 160px;
                        }
                    }
                }

                &#{$es}heading {
                    color: $white;
                    font-size: 2.2rem;
                }

                &#{$es}p {
                    color: $white;
                }

                &#{$es}link {
                    color: $white !important;

                    &:hover {
                        color: $white !important;
                        text-decoration: underline !important;
                    }
                }
            }
        }

        &#{$es}socials {
            // display: flex;
            // flex-wrap: wrap;

            &#{$es}social {
                margin-bottom: 0 !important;
                padding-right: $padding;

                &:last-child {
                    padding-right: 0;
                }
            }

            &#{$es}social--first {
                display: block;
                // flex-basis: 100%;
                margin-bottom: $margin*2 !important;
                padding-right: 0;
            }

            & :not(&#{$es}social--first) {
                display: inline-block;
            }

            i {
                color: $white;
                font-size: 3rem;
            }
        }
    }
}
