// Intialization
@import '_reset';
@import '_variables';
@import '_mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
    @include line-height(
        $line-height: 1
    );

    color: var(--purple);
    font-family: $font-family-jomolhari;
    text-transform: initial;
}

p {
    @include line-height;

    color: $black;
    font-size: 1.6rem;
}

.#{$mf} {
    &#{$es}heading-3 {
        font-size: 3rem;
    }

    &#{$es}separator {
        background-color: var(--maroon);
        display: inline-block;
        margin: 0 auto $margin;
        width: 10%;
        height: 4px;
    }

    &#{$es}nav {
        align-items: center;
        padding: $padding;

        &-item {
            @include button-styles(
                $color: var(--white) !important
            );
            @include button-hover(
                $background-color: var(--purple) !important,
                $border-color: var(--white) !important,
                $color: var(--white) !important,
            );

            font-family: $font-family-jomolhari;
            font-weight: 700;

            &:hover {
                @include transition;

                text-decoration: none;

                .sticky-header-active & {
                    color: var(--white) !important;
                }
            }

            .sticky-header-active & {
                color: var(--purple) !important;
            }
        }
    }

    &#{$es}logo-con {
        max-width: 350px;
        width: 350px !important;
    }
    
    &#{$es}logo {
        @include ratio( logo );
        
        background: url( '/frontend/template/assets/img/MF-Homecare-Logo-white.png' ) no-repeat center center;
        background-size: contain;
        display: block;
        max-width: 350px;
        width: 350px;

        .sticky-header-active & {
            background-image: url( '/frontend/template/assets/img/MF-Homecare-Logo.png' );
        }
    }

    &#{$es}homepage-video {
        &:before {
            opacity: .4 !important;
        }

        &#{$es}heading-1 {
            font-size: 4.2rem;
            margin-bottom: $margin*2;
            
            @include for-tablet-landscape-down {
                font-size: 2.4rem;
            }
        }

        &#{$es}heading-2 {
            font-size: 6.1rem;
            margin-bottom: $margin*2;
            
            @include for-tablet-landscape-down {
                font-size: 3.2rem;
            }
        }

        &#{$es}heading-3 {
            @include button-styles(
                $background-color: var(--purple) !important,
                $border-color: var(--white) !important,
                $color: var(--white) !important
            );
            @include button-hover(
                $background-color: var(--white) !important,
                $border-color: var(--purple) !important,
                $color: var(--purple) !important,
            );

            font-family: $font-family-jomolhari;
            font-weight: 700;

            &:hover {
                @include transition;

                text-decoration: none;
            }
        }
    }

    &#{$es}features {
        &#{$es}h1 {
            font-size: 3rem;
            margin-bottom: $margin;
            text-align: center;
        }

        &#{$es}p {
            margin-bottom: $margin;
        }

        &#{$es}row {
            @include display-flex;

            margin-bottom: $margin*4;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            > * {
                flex-basis: 25%;
                
                @include for-tablet-landscape-down{
                    flex-basis: 50%;
                }
                
                @include for-phone-only{
                    flex-basis: 100%;
                }
            }

            &#{$es}column--first {
                flex-basis: 100%;
                text-align: center;
            }
        }

        &#{$es}h2 {
            font-size: 2.3rem;
            margin-bottom: $margin;
        }
    }

    &#{$es}feature {
        @include display-flex(
            $justify-content: center
        );

        flex-direction: column;
        padding: $padding;
        text-align: center;

        &#{$es}icon-con {
            margin-bottom: $margin*2;
            max-width: 48px;
        }
        
        &#{$es}icon {
            display: block;
            width: 100%;
        }
        
        &#{$es}heading {
            color: $purple;
            font-size: 2.4rem;
            margin-bottom: $margin*2;
        }
        
        &#{$es}copy {
            font-family: $font-family-roboto;
            font-size: 1.6rem;
        }
    }

    &#{$es}video {
        background-color: var(--cream);

        &#{$es}video {
            display: block;
            margin: 0 auto;
            max-width: 60%;
        }
    }

    &#{$es}register__buttons {
        background-color: var(--purple);
        color: var(--white);

        &#{$es}inner {
            display: flex;
            
            > * {
                display: flex;
                flex-basis: 50%;
                flex-wrap: wrap;
                justify-content: center;
                padding: $padding;
            }
        }

        .mf__heading-3 {
            color: var(--white);
            margin-bottom: $margin*2;
        }

        p {
            color: var(--white);
            margin-bottom: $margin*2;
        }

        &#{$es}button {
            @include button-styles(
                $background-color: var(--white),
                $color: var(--purple),
                $font-size: 1.8rem
            );
            @include button-hover(
                $background-color: var(--purple),
                $border-color: var(--white),
                $color: var(--white)
            );
            @include transition;

            font-family: $font-family-jomolhari;
            font-weight: 700;
        }
    }

    &#{$es}footer {
        background: url( '/frontend/template/assets/img/bg2s.jpg' ) no-repeat center center;
        background-size: cover;
        padding: $padding*10 0 !important;

        // > .row {
            // display: flex;
            // align-items: center;
            // justify-content: center;
        // }

        &#{$es}inner {
            @include display-flex(
                $align-items: flex-start
            );

            > * {
                display: flex;
                flex-basis: 25%;
                justify-content: center;
                padding-right: $padding*2;
                
                @include for-tablet-landscape-down{
                    flex-basis: 50%;
                }
                
                @include for-phone-only{
                    flex-basis: 100%;
                }

                &:first-child {
                    justify-content: flex-start;
                }
                
                &:last-child {
                    justify-content: flex-end;
                    padding-right: 0;
                }
            }
        }

        li {
            margin-bottom: $margin*2;

            &:last-child {
                margin-bottom: 0;
                padding-right: 0;
            }

            .mf__app-icons {
                width: 100%;
            
                &-con {
                    display: block;
                    max-width: 160px;
                }
            }
        }

        h4 {
            color: $white;
            font-size: 2.2rem;
        }

        p {
            color: $white;
        }

        a {
            color: $white;
        }

        &#{$es}socials {
            display: flex;
            flex-wrap: wrap;

            &#{$es}social {
                margin-bottom: 0 !important;
                padding-right: $padding;

                &:last-child {
                    padding-right: 0;
                }
            }

            &#{$es}social--first {
                flex-basis: 100%;
                margin-bottom: $margin*2 !important;
                padding-right: 0;
            }

            i {
                color: $white;
                font-size: 3rem;
            }
        }
    }
}

html {
    .header-body {
        background-color: transparent !important;
    }
        
    &.sticky-header-active .header-body {
        background-color: $white !important;
    }

    #header .header-container {
        padding: $padding/2 $padding;
    }
}
