html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

button {
  background: none;
  color: inherit;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  width: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

h2 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

h3 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

h4 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

h5 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

h6 {
  line-height: 1;
  color: #4d5877;
  font-family: Jomolhari, serif;
  font-weight: 700;
  text-transform: initial;
}

p {
  line-height: 1.3em;
  color: #000000;
  font-size: 1.6rem;
}

html .header-body {
  background-color: rgb(255, 255, 255) !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

html.sticky-header-active .header-body {
  background-color: rgb(77, 88, 119) !important;
  background-color: rgba(77, 88, 119, 0.8) !important;
}

html #header .header-container {
  height: auto !important;
  padding: 0.5rem 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.mf {
  /* &__logo-con {
      max-width: 350px;
      width: 350px !important;
  } */
  /* &__logo {
      width: 100%;
  } */
}

.mf__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mf__heading-3 {
  font-size: 3rem;
}

.mf__separator {
  background-color: #793B52;
  display: inline-block;
  margin: 0 auto 1rem;
  width: 15%;
  height: 4px;
}

.mf__separator--small {
  width: 5%;
}

.mf__nav {
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.mf__nav-item {
  background-color: transparent;
  border-radius: 50px;
  color: #4d5877 !important;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-family: Jomolhari, serif;
  font-weight: 700;
}

.mf__nav-item-con {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mf__nav-item:hover {
  background-color: rgba(77, 88, 119, 0.9) !important;
  color: #ffffff !important;
  text-decoration: none;
}

.mf__nav-item:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.sticky-header-active .mf__nav-item:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: #4d5877 !important;
}

.sticky-header-active .mf__nav-item {
  color: #ffffff !important;
}

.mf__logo-inner {
  overflow: hidden;
  position: relative;
  transition: all 200ms ease-in-out;
  background: url("/frontend/template/assets/img/MF-Homecare-Logo.png") no-repeat center center;
  background-size: contain;
  display: block;
  width: 350px;
}

.mf__logo-inner:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 18.25%;
}

.mf__logo-inner :first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 599px) {
  .mf__logo-inner {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .mf__logo-inner {
    width: 225px;
  }
}

.sticky-header-active .mf__logo-inner {
  background-image: url("/frontend/template/assets/img/MF-Homecare-Logo-white.png");
}

.mf__homepage-video:before {
  opacity: 0.4 !important;
}

.mf__homepage-video__heading-1 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

@media (max-width: 899px) {
  .mf__homepage-video__heading-1 {
    font-size: 2.4rem;
  }
}

.mf__homepage-video__heading-2 {
  font-size: 6.1rem;
  font-weight: 100;
  margin-bottom: 4rem;
}

@media (max-width: 899px) {
  .mf__homepage-video__heading-2 {
    font-size: 3.2rem;
  }
}

.mf__homepage-video__heading-3 {
  background-color: rgba(77, 88, 119, 0.9) !important;
  border-radius: 50px;
  color: #ffffff !important;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: Jomolhari, serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.mf__homepage-video__heading-3:hover {
  background-color: #ffffff !important;
  color: #4d5877 !important;
  text-decoration: none;
}

.mf__homepage-video__heading-3:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.mf__features__h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.mf__features__p {
  margin-bottom: 2rem;
}

.mf__features__row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

@media (max-width: 599px) {
  .mf__features__row {
    flex-wrap: wrap;
  }
}

.mf__features__row > * {
  flex: 0 0 auto;
}

@media (max-width: 599px) {
  .mf__features__row > * {
    flex-basis: 100%;
  }
}

.mf__features__row:last-child {
  margin-bottom: 0;
}

.mf__features__row__column {
  align-self: stretch;
  flex-basis: 25%;
}

@media (max-width: 899px) {
  .mf__features__row__column {
    flex-basis: 50%;
  }
}

@media (max-width: 599px) {
  .mf__features__row__column {
    flex-basis: 100%;
  }
}

.mf__features__row__column--first {
  flex-basis: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.mf__features__h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.mf__features--benefits {
  background-color: #F7F2EF;
  margin-bottom: 2rem;
}

.mf__features__feature {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 599px) {
  .mf__features__feature {
    flex-wrap: wrap;
  }
}

.mf__features__feature > * {
  flex: 0 0 auto;
}

@media (max-width: 599px) {
  .mf__features__feature > * {
    flex-basis: 100%;
  }
}

.mf__features__feature:last-of-type {
  padding-right: 0;
}

.mf__features__feature > * {
  flex-basis: 100%;
}

.mf__features__feature__icon-con {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
  max-width: 48px;
  max-height: 48px;
  width: 48px;
  height: 48px;
}

.mf__features__feature__icon {
  display: block;
  width: 100%;
}

.mf__features__feature__info {
  height: 100%;
}

.mf__features__feature__heading {
  line-height: 1.6;
  color: #4d5877;
  font-size: 2.2rem;
}

.mf__features__feature__heading + .mf__features__feature__copy {
  margin-top: 2rem;
}

.mf__features__feature__copy {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.mf__video {
  background-color: #F7F2EF;
}

.mf__video__video {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

.mf__register__buttons {
  background-color: #4d5877;
  color: #ffffff;
}

.mf__register__buttons__inner {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 599px) {
  .mf__register__buttons__inner {
    flex-wrap: wrap;
  }
}

.mf__register__buttons__inner > * {
  flex: 0 0 auto;
}

@media (max-width: 599px) {
  .mf__register__buttons__inner > * {
    flex-basis: 100%;
  }
}

.mf__register__buttons__col {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
  padding-right: 2rem;
}

.mf__register__buttons__col:last-child {
  padding-right: 0;
  padding-bottom: 0;
}

@media (max-width: 899px) {
  .mf__register__buttons__col {
    flex-basis: 100%;
    height: auto;
    padding-right: 0;
    padding-bottom: 4rem;
  }
}

.mf__register__buttons .mf__heading-3 {
  line-height: 1.3em;
  color: #ffffff;
  margin-bottom: 2rem;
}

.mf__register__buttons__info {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.mf__register__buttons__p {
  color: #ffffff;
  margin-bottom: 2rem;
}

.mf__register__buttons__button {
  background-color: #ffffff;
  border-radius: 50px;
  color: #4d5877;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  align-self: flex-end;
  display: inline-block;
  font-family: Jomolhari, serif;
  font-weight: 700;
}

.mf__register__buttons__button:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.mf__footer {
  background: url("/frontend/template/assets/img/bg2s.jpg") no-repeat center center;
  background-size: cover;
  padding: 6rem 0 !important;
}

.mf__footer__inner {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .mf__footer__inner {
    flex-wrap: wrap;
  }
}

.mf__footer__inner > * {
  flex: 0 0 auto;
}

@media (max-width: 599px) {
  .mf__footer__inner > * {
    flex-basis: 100%;
  }
}

.mf__footer__col {
  display: flex;
  padding: 4rem;
  padding-right: 2rem;
  padding-left: 0;
}

@media (max-width: 899px) {
  .mf__footer__col {
    flex-basis: 50%;
  }
}

@media (max-width: 599px) {
  .mf__footer__col {
    flex-basis: 100%;
    justify-content: center;
    padding-right: 0;
    text-align: center;
  }
}

.mf__footer__col:last-child {
  padding-right: 0;
}

.mf__footer__col__inner__li {
  margin-bottom: 2rem;
}

.mf__footer__col__inner__li:last-child {
  margin-bottom: 0;
  padding-right: 0;
}

.mf__footer__col__inner__li .mf__app-icons {
  width: 100%;
}

.mf__footer__col__inner__li .mf__app-icons-con {
  display: block;
  max-width: 160px;
}

.mf__footer__col__inner__heading {
  color: #ffffff;
  font-size: 2.2rem;
}

.mf__footer__col__inner__p {
  color: #ffffff;
}

.mf__footer__col__inner__link {
  color: #ffffff;
}

.mf__footer__col__inner__link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.mf__footer__socials__social {
  margin-bottom: 0 !important;
  padding-right: 1rem;
}

.mf__footer__socials__social:last-child {
  padding-right: 0;
}

.mf__footer__socials__social--first {
  display: block;
  margin-bottom: 2rem !important;
  padding-right: 0;
}

.mf__footer__socials :not(.mf__footer__socials__social--first) {
  display: inline-block;
}

.mf__footer__socials i {
  color: #ffffff;
  font-size: 3rem;
}

