html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

button {
  background: none;
  color: inherit;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  width: 100%;
}

/* // Buttons
$button-color: $white !default;
$button-color-dark: $button-color !default;
$button-hover-color: $white !default;
$button-bg-color-danger: $red !default;
$button-bg-color-danger-dark: $red !default;
$button-bg-color-info: $purple !default;
$button-bg-color-info-dark: $maroon !default;
$button-bg-color-primary: $purple !default;
$button-bg-color-primary-dark: $maroon !default;
$button-color-primary-dark: $black !default;
$button-bg-color-success: $purple !default;
$button-bg-color-success-dark: $maroon !default;
$button-color-success-dark: $black !default;
$button-bg-hover-color: $black !default;
$button-bg-hover-color-dark: $black !default; */
* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

body * {
  font-size: 1.6rem;
}

img {
  display: block;
}

.h1 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

.h2 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

.h3 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

.h4 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

.h5 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

.h6 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h1 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h2 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h3 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h4 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h5 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h6 {
  line-height: 1.3;
  color: #000000;
  font-family: Jomolhari;
  font-weight: 700;
  text-transform: initial;
}

h1,
h1.header-title {
  font-size: 3rem;
}

h2,
h2.header-title {
  font-size: 2.4rem;
}

p {
  line-height: 1.3;
  color: #000000;
}

a {
  line-height: 1.3;
  color: inherit;
}
a:hover {
  transition: all 200ms ease-in-out;
}

.ra__dark input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ra__dark input:focus {
  color: #ffffff !important;
}

.input-group-text {
  font-size: inherit !important;
}
.ra__dark .input-group-text {
  background-color: #F7F2EF;
  color: #ffffff;
}

.form {
  /* &-row {
      margin-bottom: $margin*2;

      &:last-of-type {
          margin-bottom: 0;
      }
  } */
}
.form-group {
  margin-bottom: 2rem;
}
.form-group:last-of-type {
  margin-bottom: 0;
}
.form-control {
  font-size: inherit !important;
}
.ra__dark .form-control {
  background-color: #F7F2EF;
  color: #ffffff;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #f1556c;
}

.invalid-feedback {
  color: #f1556c;
  font-size: 1.6rem;
}

.btn, .swal2-popup .swal2-styled.swal2-confirm {
  background-color: #4d5877;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0.6666666667rem 1rem;
  /* // .ra__settings {
      &-outline-success {
          border-color: $purple;
          color: $purple;
          width: auto !important;

          .ra__dark & {
              border-color: $maroon;
              color: $maroon;
          }

          &:hover {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $maroon;
                  border-color: $maroon;
                  color: $black;
              }
          }

          &.focus,
          &:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }

          &.disabled,
          &:disabled {
              background-color: transparent;
              color: $purple;

              .ra__dark & {
                  color: $maroon;
              }
          }

          &:not(:disabled):not(.disabled).active,
          &:not(:disabled):not(.disabled):active,
          .show & > .dropdown-toggle,
          .show > &.dropdown-toggle {
              background-color: $button-bg-color-success;
              border-color: $purple;
              color: $white;

              .ra__dark & {
                  background-color: $maroon;
                  border-color: $maroon;
                  color: $black;
              }
          }

          &:not(:disabled):not(.disabled).active:focus,
          &:not(:disabled):not(.disabled):active:focus,
          .show & > .dropdown-toggle:focus,
          .show > &.dropdown-toggle:focus {
              box-shadow: 0 0 0 .15rem rgba( var(--purple), .5 );

              .ra__dark & {
                  box-shadow: 0 0 0 .15rem rgba( var(--green), .5 );
              }
          }
      }
  // } */
}
.btn-success, .swal2-popup .swal2-styled.swal2-confirm, .btn-primary, .btn-danger, .btn-info {
  border: none;
  box-shadow: none;
  color: #ffffff;
  width: auto !important;
}
.btn-success:hover, .swal2-popup .swal2-styled.swal2-confirm:hover, .btn-primary:hover, .btn-danger:hover, .btn-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.ra__dark .btn-success, .ra__dark .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark .swal2-styled.swal2-confirm, .ra__dark .btn-primary, .ra__dark .btn-danger, .ra__dark .btn-info {
  background-color: #4d5877;
  color: #ffffff;
}
.ra__dark .btn-success:hover, .ra__dark .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup .ra__dark .swal2-styled.swal2-confirm:hover, .ra__dark .btn-primary:hover, .ra__dark .btn-danger:hover, .ra__dark .btn-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn:hover, .swal2-popup .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
.btn-success, .swal2-popup .swal2-styled.swal2-confirm {
  background-color: #4d5877;
}
.btn-success:hover, .swal2-popup .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
.ra__dark .btn-success, .ra__dark .swal2-popup .swal2-styled.swal2-confirm, .swal2-popup .ra__dark .swal2-styled.swal2-confirm {
  background-color: #793B52;
  color: #000000;
}
.ra__dark .btn-success:hover, .ra__dark .swal2-popup .swal2-styled.swal2-confirm:hover, .swal2-popup .ra__dark .swal2-styled.swal2-confirm:hover {
  background-color: #000000;
}
.btn-primary {
  background-color: #4d5877;
}
.btn-primary:hover {
  background-color: #000000;
}
.ra__dark .btn-primary {
  background-color: #793B52;
  color: #000000;
}
.ra__dark .btn-primary:hover {
  background-color: #000000;
}
.btn-danger {
  background-color: #c60202;
}
.btn-danger:hover {
  background-color: #000000;
}
.ra__dark .btn-danger {
  background-color: #c60202;
}
.ra__dark .btn-danger:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn-info {
  background-color: #4d5877;
  color: #ffffff;
}
.btn-info:hover {
  background-color: #000000;
  color: #ffffff;
}
.ra__dark .btn-info {
  background-color: #793B52;
}
.ra__dark .btn-info:hover {
  background-color: #000000;
}

.swal2-popup {
  background-color: #F7F2EF;
  border-radius: 0.25rem;
  max-width: 400px;
  width: 40%;
}
.ra__dark .swal2-popup {
  background-color: #ffffff;
}
.swal2-popup .swal2-icon.swal2-warning, .swal2-popup .swal2-icon.swal2-error {
  border-color: #c60202;
  color: #c60202;
}
.swal2-popup .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: #c60202;
}
.swal2-popup .swal2-title,
.swal2-popup .swal2-content {
  color: #ffffff;
}
.ra__dark .swal2-popup .swal2-title,
.ra__dark .swal2-popup .swal2-content {
  color: #000000;
}
.swal2-popup .swal2-styled {
  transition: all 200ms ease-in-out;
}
html.ra__authentication {
  height: 100%;
}

body {
  color: #000000;
}
body.ra__dark {
  background-color: #000000;
  color: #ffffff;
}
body.ra__authentication.authentication-bg-pattern {
  background-repeat: no-repeat;
  height: 100%;
}
body.ra__authentication .account-pages {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 1rem;
}
.ra__dark body.ra__authentication .account-pages {
  background-color: rgba(0, 0, 0, 0.5);
}
body.ra__authentication[data-sidebar-size=condensed] {
  min-height: initial !important;
}
body.ra__authentication[data-sidebar-size=condensed] .logo span.logo-lg {
  display: block !important;
}

.mf__account-pages__bottom {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem;
}
.ra__dark .mf__account-pages__bottom {
  background-color: #F7F2EF;
}
.mf__authentication .auth-logo {
  margin-bottom: 1rem;
}
.mf__authentication .auth-logo img {
  display: inline-block;
}
.mf__authentication .custom-control {
  padding-left: 0;
}
.mf__authentication button[type=submit] {
  margin-right: auto;
  margin-left: auto;
}